extends includes/layout.pug

block content
  if theme.category_ui == 'index'
    include ./includes/mixins/post-ui.pug
    #recent-posts.recent-posts.category_ui
      +postUI
      include includes/pagination.pug
  else
    include ./includes/mixins/article-sort.pug
    #category
      .category-list-bar
        a.iconfont.icon-fenlei(href="/categories/")
        .lists!=list_categories()
        script.
          document.querySelectorAll('.category-list .category-list-item').forEach(item=>{
          if(decodeURI(window.location.href.split('/')[4])===item.querySelector('a').innerHTML){
          item.className += ' checked'
          }
          })
          window.addEventListener('load',function(){document.querySelector('.category-list .category-list-item.checked').scrollIntoView();document.querySelector('#category').scrollIntoView();});
          window.addEventListener('pjax:complete',function(){document.querySelector('.category-list .category-list-item.checked').scrollIntoView();document.querySelector('#category').scrollIntoView();});
          document.querySelectorAll('#category .lists')[0].onmousewheel = function(e){
          if(e.deltaY>0){
          this.scrollLeft+=20;
          }else{
          this.scrollLeft-=20;
          }return false;}
      .article-sort-title= _p('page.category') + ' - ' + page.category
      +articleSort(page.posts)
      include includes/pagination.pug