div(class="top" id="top" style="width:1470px")
    include speaks.pug
    a(id="random2" class="recent-post-item" style="width:100%;height:auto;padding:10px;" href="javascript:toRandomPost()")         
        div 随便逛逛✈
    .cards
        include random.pug
        .swiper-div#swiper-div
    .cards2
        .gc#gc
            if theme.gitcalendar.enable
                .recent-post-item(style='width:100%;overflow:hidden;')
                    !=partial('includes/gitcalendar', {}, {cache:theme.fragment_cache})
        .fl#fl
            if theme.categoryBar.enable
                .mangentContent(style='height:auto;width:100%;padding:0px;')
                #categoryBar!= list_categories(site.categories,{class: 'categoryBar',depth: 1})