div(id="random")
    iframe(id="random-banner" src="/people.html" frameborder="no")
    a(id="random-hover" style="width:100%;height:auto;" href="javascript:toRandomPost()")         
        span &nbsp
        i.fa.fa-paper-plane
        div &nbsp随便逛逛→